@{
    ViewBag.Title = "Home Page";
}
<style>
    .title {
        background-color:aqua;
        width:30px;
    }
</style>

<div id="Demo">

</div>

@section scripts{
    <script type="text/babel">
        const myID = "reactid";
        const myData = "@Model.FirstName";
        /*Create virtual DOM object*/
        const VDOM = 
            <div>
                <h1 className="title" id ={myID.toLowerCase()}>
                    <span style={{color:"black"}}>
                        {myData.toUpperCase()}
                    </span>
                </h1>
                <input type="text"/>
            </div>
        /*Render DOM object to page*/
        ReactDOM.render(VDOM, document.getElementById("Demo"));
    </script>
}