@{
    ViewBag.Title = "Testing Page";
}
<style>
    .inlineInput>label input button{
        display: inline;
        white-space: nowrap;
        margin-left: 10px;
    }
</style>
<div id="Demo">

</div>

@section scripts{
    <script type="text/babel">
        var currentURL = window.location.hostname
        var contactURL = "http://"+currentURL + ":49298/Home/Contact"
          class Demo extends React.Component{
            //initiate state
            state = {username:"",password:""}
            handleSubmit = (event)=>{
                event.preventDefault()
                //現用現取 取節點
                const {username,password} = this.state
                //取節點值

                alert (`Account Name ${username} Password ${password}`)
            }
            saveFormData = (inputName)=>{
               
               return(event)=>{
                    this.setState({[inputName]:event.target.value})

               }
            }
            render(){
                //非受控component
                const {currentHost} = this.props
                return(
                    <form className="inlineInput" onSubmit={this.handleSubmit}>
                        <label>Account</label>
                        <input onChange={this.saveFormData('username')} type="text" placeholder = "Account" name="username"/>
                        <label>Password</label>
                        <input onChange={this.saveFormData('password')} type="text" placeholder="Password" name="password"/>
                        <input type="submit" value="Button"/>
                    </form>
                )
            }
        }
        ReactDOM.render(<Demo currentHost={currentURL}/>,document.getElementById("Demo"))
    </script>
}