@{
    ViewBag.Title = "Testing Page";
}

<div id="Demo">

</div>
<div id="Demo1"> 

</div>
@section scripts{
    <script type="text/babel">
        let persons = {
             "name":"cindy",
             "gender":"female",
             "age":44
         }

        class Person extends React.Component{

             render(){
                 const {name,age,gender} = this.props
                 return (
                         <ul>
                             <li>{name}</li>
                             <li>{age}</li>
                             <li>{gender}</li>
                         </ul>
                  )
             }
         }

         ReactDOM.render(<Person name="cindy" age="1" gender="female"/>,document.getElementById("Demo"))
         ReactDOM.render(<Person {...persons} />,document.getElementById("Demo1"))
    </script>
    }