@{
    ViewBag.Title = "Home Page";
}

<div id="Demo">

</div>

@section scripts{
    <script type="text/javascript">
        /*Create a class*/
        class Person{
            constructor(name,age) {
                this.name = name;
                this.age = age;
            }
            speak() {
                console.log(`My name is ${this.name}`);
                console.log(`My age is ${this.age}`);
            }
        }
        const personA = new Person("tom",18);
        const personB = new Person("jerry", 20);
        console.log(personA);
        console.log(personB);
        personA.speak();
        personB.speak();
    </script>
}