@{
    ViewBag.Title = "Testing Page";
}
<style>
    .inlineInput {
        display: inline;
        white-space: nowrap;
        margin-left:10px;
    }
</style>

<div id="Demo">

</div>

@section scripts{
    <script type="text/babel">
        class Demo extends React.Component{
            state = {isHot:false}
            showData = ()=>{
                const {input1,input2} = this
                alert(input1.value)
                alert(input2.value)
            }
            
            changeWeather = ()=>{
                console.log("click")
                const {isHot} = this.state
                this.setState({isHot:!isHot})
            }
            saveInput = (inputTag)=>{                               
                if(inputTag.id == "1"){
                    this.input1 = inputTag
                }else{
                    this.input2 = inputTag
                }
                console.log("LALA @@ " + inputTag)
            }
            render(){
                const {isHot} = this.state
                return(
                    <div>
                        <h1>Today is {isHot?"Hot":"Cold"}</h1>
                        <input type="button" onClick={this.changeWeather} value="Change Weather" />
                        {/*<input ref={(currentNode)=>{this.input1 = currentNode;console.log(" LALA " + currentNode)}} className="inlineInput" type="text" placeholder = "Click button to show text"/>*/}
                        <input id="1" ref={this.saveInput} className="inlineInput" type="text" placeholder = "Click button to show text"/>
                        <input className="inlineInput" type="button" value="Button" onClick={this.showData}/>
                        <input ref={this.saveInput} className="inlineInput" type="text" onBlur={this.showData} placeholder="onblur to show text" />
                    </div>
                )
            }
        }
        ReactDOM.render(<Demo/>,document.getElementById("Demo"));
    </script>
}