@{
    ViewBag.Title = "Testing Page";
}

<div id="Demo">

</div>

@section scripts{
    <script type="text/babel">
        class MyComponent extends React.Component{
            
            render (){
                console.log(this)
                return <h1>Hello,React</h1>
            }
        }
        ReactDOM.render(<MyComponent/>,document.getElementById('Demo'))
        /*
            1.React find <MyComponent/>
            2.It is class so react new MyComponent(); call render()
            3.Get the virtual DOM and convert it to real DOM

        */
    </script>
}