@{
    ViewBag.Title = "Home Pagebrach2";
}

<div id="Demo">

</div>

@section scripts{
    <script type="text/babel">
        const VDOM = <h1>Hello,React</h1>;
        ReactDOM.render(VDOM, document.getElementById("Demo"));
    </script>
}