@{
    ViewBag.Title = "Testing Page";
}

<div id="Demo">

</div>

@section scripts{
    <script type="text/babel">
        class MyComponent extends React.Component{
          
            state = {weather:"Hot",isHot:true}

            changeWord = ()=>{
                const ishot = this.state.isHot
                console.log(this.props.hello)
                this.setState({isHot:!ishot})
            }

             render (){
                 return <h1 onClick={this.changeWord}>Today is {this.state.isHot?'Hot':'Cold'}</h1>
             }

         }
         ReactDOM.render(<MyComponent hello="123"/>,document.getElementById('Demo'))

    </script>
}