@{
    ViewBag.Title = "Testing Page";
}

<div id="Demo">

</div>

@section scripts{
    <script type="text/babel">
          class Demo extends React.Component{

            render(){
                
                return(
                    <div>
                        <label text="Account"></label>
                        <input className="inlineInput" type="text" placeholder = "Account"/>
                        <label text="Password"></label>
                        <input className="inlineInput" type="text" onBlur={this.showData2} placeholder="Password" />
                        <input className="inlineInput" type="button" value="Button"/>
                    </div>
                )
            }
        }
        ReactDOM.render(<Demo/>,document.getElementById("Demo"));
    </script>
}